.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 34px;
  left: 87px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-als-story);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.div34 {
  position: relative;
}
.frame-div {
  position: absolute;
  top: 34px;
  left: 619px;
  border-radius: var(--br-7xs);
  background-color: var(--color-goldenrod-400);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.header-about3 {
  position: relative;
  background-color: var(--color-goldenrod-200);
  width: 1920px;
  height: 126px;
  flex-shrink: 0;
}
.id4 {
  font-family: var(--font-als-story);
  font-size: var(--font-size-29xl);
}
.id4,
.schedule {
  border: 1px solid var(--color-dimgray-100);
  background-color: var(--color-gray-200);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 530px;
  height: 82px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-xl);
  align-items: flex-start;
  justify-content: center;
}
.div35 {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-als-story);
  color: var(--color-black);
  text-align: center;
}
.button-edit1,
.edit-cargo,
.edit-employee-form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-edit1 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray-100);
  padding: 0 var(--padding-base);
  background-color: var(--color-mediumturquoise);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 82px;
  flex-shrink: 0;
  justify-content: center;
}
.edit-cargo,
.edit-employee-form1 {
  justify-content: flex-start;
}
.edit-employee-form1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-goldenrod-300);
  padding: var(--padding-31xl) var(--padding-57xl) var(--padding-9xl);
  gap: var(--gap-9xl);
}
.edit-cargo {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  overflow: hidden;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-als-story);
}
