.div55 {
  position: relative;
}
.header4 {
  background: radial-gradient(
    50% 50%at 50% 50%,
    #f5d76a 14.27%,
    #ffb800 75.55%
  );
  width: 1920px;
  height: 128px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-122xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.div56 {
  position: relative;
  font-size: var(--font-size-17xl);
}
.email {
  border: 1px solid var(--color-dimgray-100);
  background-color: var(--color-aliceblue);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 412px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-9xs) var(--padding-5xs)
    var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
}
.div57 {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-als-story);
  color: var(--color-black);
  text-align: left;
}
.button-login {
  cursor: pointer;
  border: 1px solid var(--color-dimgray-100);
  padding: 0;
  background-color: var(--color-aliceblue);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 202px;
  height: 74px;
  flex-shrink: 0;
  justify-content: center;
}
.button-login,
.button-login1,
.index1,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod-100);
  border: 1px solid var(--color-dimgray-200);
  padding: var(--padding-40xl) var(--padding-17xl) var(--padding-29xl);
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.button-login1,
.index1 {
  justify-content: center;
}
.button-login1 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray-100);
  padding: var(--padding-5xl) var(--padding-21xl);
  background-color: var(--color-paleturquoise);
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.index1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  padding: 0 0 var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-39xl);
  color: var(--color-black);
  font-family: var(--font-als-story);
}
