.cargo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-als-story);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.cargo-wrapper,
.search6,
.selector-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cargo-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  background-color: var(--color-goldenrod-500);
  border-radius: var(--br-7xs);
  justify-content: center;
}
.search6,
.selector-search {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  padding: 0 var(--padding-3xs);
}
.search6 {
  box-sizing: border-box;
  width: 300px;
  height: 62px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.selector-search {
  align-self: stretch;
  justify-content: center;
}
.icon-search-outline {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.button-search1,
.header2,
.search-group1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-search1 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray-400);
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.header2,
.search-group1 {
  justify-content: center;
}
.search-group1 {
  width: 574px;
  flex-shrink: 0;
  gap: var(--gap-3xl);
}
.header2 {
  align-self: stretch;
  background-color: var(--color-goldenrod-200);
  border: 1px solid var(--color-darkslategray);
  padding: var(--padding-7xl) var(--padding-xl) var(--padding-7xl)
    var(--padding-41xl);
  gap: var(--gap-259xl);
}
.div25,
.id5 {
  position: relative;
  flex-shrink: 0;
}
.id5 {
  text-align: center;
  display: inline-block;
  width: 50px;
}
.div25 {
  width: 250px;
}
.div25,
.div26,
.div29 {
  display: inline-block;
}
.div26 {
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.div29 {
  width: 288px;
}
.div29,
.div30,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.div30 {
  display: inline-block;
  width: 240px;
}
.vector-icon1 {
  width: 29.33px;
  height: 29.33px;
}
.head-of-elements1,
.icon-plus1 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.icon-plus1 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  border-radius: var(--br-3xs);
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.head-of-elements1 {
  background-color: var(--color-khaki);
  border-bottom: 1px solid var(--color-dimgray-300);
  width: 1920px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.group-icon2 {
  position: relative;
  width: 26.67px;
  height: 33.24px;
  flex-shrink: 0;
}
.icon-edit-2-outline1 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-mediumturquoise);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-icon3 {
  position: relative;
  width: 27.28px;
  height: 27.28px;
  flex-shrink: 0;
}
.icon-trash-2-outline1 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-lightcoral);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.block-of-elements1,
.element1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.element1 {
  background-color: #f8f5bd;
  border-bottom: 1px solid var(--color-dimgray-300);
  box-sizing: border-box;
  width: 1920px;
  flex-direction: row;
  padding: 23px var(--padding-3xs) var(--padding-xs) var(--padding-lg);
  gap: var(--gap-19xl);
  font-family: var(--font-als-lavanda);
}
.block-of-elements1 {
  flex-direction: column;
}
.div38,
.div40 {
  position: relative;
}
.div40 {
  display: inline-block;
  width: 533px;
}
.main-cargo,
.statistics1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.statistics1 {
  width: 1920px;
  height: 227px;
  flex-shrink: 0;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-8xs);
}
.main-cargo {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-als-story);
}
