.button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-29xl);
  font-family: var(--font-als-story);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.button6,
.div23 {
  position: relative;
}
.header-about4,
.wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper2 {
  border-radius: var(--br-7xs);
  background-color: var(--color-goldenrod-500);
  padding: var(--padding-3xs) var(--padding-sm);
  justify-content: center;
}
.header-about4 {
  background-color: var(--color-goldenrod-200);
  width: 1920px;
  padding: 21px var(--padding-68xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 321px;
}
.id4 {
  font-family: var(--font-als-story);
  font-size: var(--font-size-29xl);
}
.id4,
.last-name3 {
  font-size: var(--font-size-29xl);
  border: 1px solid var(--color-dimgray-100);
  background-color: var(--color-gray-200);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 530px;
  height: 82px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-xl);
  align-items: flex-start;
  justify-content: center;
}
.div24 {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-als-story);
  color: var(--color-black);
  text-align: center;
}
.button-add1,
.new-cargo,
.new-employee-form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-add1 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray-100);
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 322px;
  height: 82px;
  flex-shrink: 0;
  justify-content: center;
}
.new-cargo,
.new-employee-form1 {
  justify-content: flex-start;
}
.new-employee-form1 {
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod-300);
  padding: var(--padding-31xl) var(--padding-57xl) var(--padding-9xl);
  gap: var(--gap-9xl);
}
.new-cargo {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  overflow: hidden;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-als-story);
}
