<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/edit-post.css" />

    <style>
      @font-face {
        :font-family: "ALS Story";
        src: url("/ALS Story Regular.otf");
        font-weight: 400;
      }
      @font-face {
        :font-family: "ALS Lavanda";
        src: url("/ALS Lavanda.otf");
        font-weight: 400;
      }
    </style>
    <title>Изменить пост</title>
  </head>
  <body>
    <div class="edit-post">
      <div class="header-about">
        <button class="button">Главная</button>
        <div class="wrapper">
          <div class="div">Редактировать запись автоблога</div>
        </div>
      </div>
      <form class="edit-employee-form">
        <input class="id" type="text" placeholder="ID записи" />

        <input class="last-name" type="text" placeholder="Название записи" />

        <input class="last-name" type="text" placeholder="Дата" />

        <input class="last-name" type="text" placeholder="Кто добавил" />

        <input class="rank" type="text" placeholder="Текст записи" />

        <button class="button-edit">
          <div class="div1">Редактировать</div>
        </button>
      </form>
    </div>
  </body>
</html>
