<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/edit-post.css" />

    <style>
      @font-face {
        :font-family: "ALS Story";
        src: url("/ALS Story Regular.otf");
        font-weight: 400;
      }
      @font-face {
        :font-family: "ALS Lavanda";
        src: url("/ALS Lavanda.otf");
        font-weight: 400;
      }
    </style>
    <title>Изменить пост</title>
  </head>
  <body>
    <div class="edit-post">
      <div class="header-about">
        <a th:href="@{'/autoblog_main_admin'}" style="text-decoration: none">
          <button class="button">Главная</button>
        </a>
        <div class="wrapper">
          <div class="div13">Редактировать запись автоблога</div>
        </div>
      </div>
      <form th:action="@{/save_post}" th:object="${Post}" class="edit-employee-form">
        <input th:field="*{id}" class="id1" type="text" placeholder="ID записи" />

        <input th:field="*{title}" class="last-name" type="text" placeholder="Название записи" />

        <input th:field="*{dateCreated}"  class="last-name" type="text" placeholder="Дата (2000-12-31 23:00:00)" />

        <input th:field="*{author}"  class="last-name" type="text" placeholder="Кто добавил" />

        <input th:field="*{content}" class="rank" type="text" placeholder="Текст записи" />

        <button type="submit" class="button-edit">
          <div class="div14">Редактировать</div>
        </button>
      </form>
    </div>
  </body>
</html>
