<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/main-cargo.css" />

    <style>
      @font-face {
        :font-family: "ALS Story";
        src: url("/ALS Story Regular.otf");
        font-weight: 400;
      }
      @font-face {
        :font-family: "ALS Lavanda";
        src: url("/ALS Lavanda.otf");
        font-weight: 400;
      }
    </style>
    <title>Склад</title>
  </head>
  <body>
    <div class="main-cargo">
      <div class="header3">
        <a th:href="@{'/'}">
          <button class="button7">Выход</button>
        </a>
        <button class="wrapper3">
          <div class="div38">Склад</div>
        </button>
        <a th:href="@{'/autoblog'}">
          <button class="button7">Автоблог</button>
        </a>
        <form class="search-group2">
          <input th:value="${keyword}" name="keyword" id="keyword" class="search12" type="text" placeholder="Поиск" required />

          <input type="submit" class="button-search2" value="Найти"/>
        </form>
      </div>

      <table id="1" class="block-of-elements2">
        <thead>
        <tr class="head-of-elements2">
          <th class="id6" scope="col">ID</th>
          <th class="div39" scope="col">Название</th>
          <th class="div40" scope="col">Состав</th>
          <th class="div39" scope="col">Город отправки</th>
          <th class="div39" scope="col">Город прибытия</th>
          <th class="div43" scope="col">Дата отправки</th>
          <th class="div44" scope="col">Дата прибытия</th>
          <td class="div44"><a th:href="@{'/new_cargo'}">
            <button class="icon-plus1">
              <img class="vector-icon1" alt="" src="/public/vector.svg" />
            </button>
          </a></td>
        </tr>
        </thead>
        <tbody class="class_for_tbody tbody">
        <tr th:each="Cargo: ${listCargo}" class="element2 tr">
          <th scope="row" class="id6 th" th:text="${Cargo.ID}">ID</th>
          <th scope="row" class="div39 th" th:text="${Cargo.nameLoad}">Название</th>
          <th scope="row" class="div40 th" th:text="${Cargo.content}">Состав</th>
          <th scope="row" class="div39 th" th:text="${Cargo.cityFrom}">Город отправки</th>
          <th scope="row" class="div39 th" th:text="${Cargo.cityTo}">Город прибытия</th>
          <th scope="row" class="div43 th" th:text="${Cargo.dataInput}">Дата отправки</th>
          <th scope="row" class="div40 th" th:text="${Cargo.dataOutput}">Дата прибытия</th>
          <td class="td">
            <a th:href="@{'edit_cargo/'+ ${Cargo.ID}}">
              <button class="icon-edit-2-outline1">
                <img class="group-icon2" alt="" src="/public/group.svg" />
              </button>
            </a>
          </td>
          <td class="td">
            <a th:href="@{'delete_cargo/'+ ${Cargo.ID}}">
              <button class="icon-trash-2-outline1">
                <img class="group-icon3" alt="" src="/public/group1.svg" />
              </button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="statistics2">
        <div class="div52">Количество записей: <p th:text="${listCargo.size()}"></p></div>
        <div class="div52">Первая отправка: <p th:text="${firstInputDate}"></p></div>
        <div class="div54">Последняя отправка: <p th:text="${latestInputDate}"></p></div>
      </div>
    </div>
  </body>
</html>
