<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/set-role.css"/>

    <style>
        @font-face {
        :font-family: "ALS Story";
            src: url("/ALS Story Regular.otf");
            font-weight: 400;
        }
        @font-face {
        :font-family: "ALS Lavanda";
            src: url("/ALS Lavanda.otf");
            font-weight: 400;
        }
    </style>
</head>
<body>
<div class="set-role">
    <div class="header-about">
        <button class="button">Главная</button>
        <div class="wrapper">
            <div class="div4">Получить доступ</div>
        </div>
    </div>
    <form th:action="@{'/setrole'}" class="edit-employee-form">
            <button class="button-edit">
                <div class="div5">Получить админа</div>
            </button>
    </form>
</div>
</body>
</html>
